@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.short-code {
  @apply bg-gray-200 px-1 rounded-md text-gray-600;
}

.demo-button {
  @apply transition border p-2 px-4 rounded-3xl hover:bg-gray-500 hover:text-white;
}
